	<navbar class="navbar navbar-expand-lg bg-blue-darkblue-gradient text-light">
		<div class="collapse navbar-collapse">
			<a href="/">
				<span class="nav-item h3 text-light" style="padding: 5px; margin: 10px;"> Steamworks </span>
			</a>
			<a href="#">
				<span class="nav-item h5 text-light" style="padding: 5px; margin: 10px;"> Mood Detector </span>
			</a>
			<a href="#">
				<span class="nav-item h5 text-light" style="padding: 5px; margin: 10px;"> Shop </span>
			</a>
			<a href="#">
				<span class="nav-item h5 text-light" style="padding: 5px; margin: 10px;"> About </span>
			</a>
		</div>
		<div  class="navbar-nav ml-auto">
			$navbar_login_state
		</div>
	</navbar>