@font-face
{
	font-family: "Gila";
	src: url("http://localhost:8080/fonts/Gila.ttf") format("truetype");
}

@font-face
{
	font-family: "Digitalt";
	src: url("http://localhost:8080/fonts/Digitalt.ttf") format("truetype");
}


.jumbotron
{
	padding: 10px;
	margin: 20px;
	background-color: #2F2FA2;
}

.text-dark-blue { color: #242582; }
.bg-dark-blue { background-color: #242582; }

.text-blue { color: #2F2FA2; }
.bg-blue { background-color: #2F2FA2; }

.text-purple { color: #553D67; }
.bg-purple { background-color: #553D67; }

.text-light-purple { color: #99738E; }
.bg-light-purple { background-color: #99738E; }

.text-pink { color: #F64C72; }
.bg-pink { background-color: #F64C72; }


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, navbar-brand
{
	color: #FFFFFF;
	font-family: Gila;
}

.bold { font-weight: bold; }

a {	text-decoration: none; }

footer
{
	width: 100%;
	height: 5px;
	color: #FFFFFF;
	background-color: #2F2FA2;
	display: flex;
	justify-content: center;
}