@font-face
{
	font-family: "Gila";
	src: url("http://localhost:8080/fonts/Gila.ttf") format("truetype");
}

@font-face
{
	font-family: "Digitalt";
	src: url("http://localhost:8080/fonts/Digitalt.ttf") format("truetype");
}


.jumbotron
{
	padding: 10px;
	margin: 20px;
	background-color: #3500D3;
	border-radius: 10px;
}

.alert
{
	padding: 10px;
	margin: 20px;
	background-color: #fc0330;
	border-radius: 10px;
}

.text-darkblue { color: #240090; }
.bg-darkblue { background-color: #240090; }

.text-blue { color: #3500D3; }
.bg-blue { background-color: #3500D3; }

.text-darkpurple-blue-gradient { color: linear-gradient(to right, #0C0032 0%, #3500D3 100%);  }
.text-blue-darkpurple-gradient { color: linear-gradient(to left, #0C0032 0%, #3500D3 100%);  }

.text-darkblue-blue-gradient { color: linear-gradient(to right, #240090 0%, #3500D3 100%);  }
.text-blue-darkblue-gradient { color: linear-gradient(to left, #240090 0%, #3500D3 100%);  }

.bg-darkblue-blue-gradient { background: linear-gradient(to right, #240090 0%, #3500D3 100%);  }
.bg-blue-darkblue-gradient { background: linear-gradient(to left, #240090 0%, #3500D3 100%);  }

.bg-purple-blue-gradient { background: linear-gradient(to right, #190061 0%, #3500D3 100%);  }
.bg-blue-purple-gradient { background: linear-gradient(to left, #190061 0%, #3500D3 100%);  }

.bg-purple-darkblue-gradient { background: linear-gradient(to right, #190061 0%, #240090 100%);  }
.bg-darkblue-purple-gradient { background: linear-gradient(to left, #190061 0%, #240090 100%);  }

.bg-purple-darkpurple-gradient { background: linear-gradient(to left, #0C0032 0%, #190061 100%);  }
.bg-darkpurple-purple-gradient { background: linear-gradient(to right, #0C0032 0%, #190061 100%);  }

.text-darkpurple { color: #0C0032; }
.bg-darkpurple { background-color: #0C0032; }

.text-purple { color: #190061; }
.bg-purple { background-color: #190061; }

.text-gray { color: #282828; }
.bg-gray { background-color: #282828; }

.text-black { color: #000000; }
.bg-black { background-color: #000000; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, navbar-brand
{
	color: #FFFFFF;
	font-family: Gila;
}

.bold { font-weight: bold; }

a {	text-decoration: none; }

.navbar { padding: 10px; }