<!DOCTYPE html>
<html>
<head>
    <title> Login </title>
    $head
</head>
<body style="background: linear-gradient(to right, #020022 0%, #060019 100%); overflow-x: hidden;">
$navbar
$alert

<div class="jumbotron align-baseline" style="margin: 60px 30%;">
    <h1 style="margin: 20px 20px 40px;"> Login </h1>
    <hr class="bg-blue-darkpurple-gradient" style="margin: 0px 20px; border-radius: 3px;" size="5"/>
    <form action="http://localhost:8080/login" method="post" style="margin: 20px;">
        <input class="form-control bg-purple-darkpurple-gradient me-2 border-0 text-white" type="username" placeholder="username" name="username" style="margin: 30px 0;">
        <input class="form-control bg-purple-darkpurple-gradient me-2 border-0 text-white" type="password" placeholder="password" name="password" style="margin: 30px 0;">
        <button class="text-muted bg-purple-darkblue-gradient rounded-pill border-0" type="submit" style="padding: 5px 20px;"> Login </button>
    </form>
</div>

$fixed_footer
</body>
</html>