<!DOCTYPE html>
<html>
	<head>
		<title> Home </title>
		$head
	</head>
	<body style="background: linear-gradient(to right, #020022 0%, #060019 100%); overflow-x: hidden;">
		$navbar
		$alert

<div class="jumbotron align-baseline" style="margin: 60px 30%;">
    <h1 style="margin: 20px 20px 40px;"> Create a post </h1>
    <hr class="bg-blue-darkpurple-gradient" style="margin: 0px 20px; border-radius: 3px;" size="5"/>
    <form action="http://localhost:8080/write" method="post" style="margin: 20px;">
        <input class="form-control bg-purple-darkpurple-gradient me-2 border-0 text-white" type="text" placeholder="Title" name="title" style="margin: 30px 0 10px;">
		<input class="form-control bg-purple-darkpurple-gradient me-2 border-0 text-white" type="text" placeholder="Image URL" name="img_src" style="margin: 10px 0 10px;">
		<textarea class="form-control bg-purple-darkpurple-gradient border-0 text-white" type="text" placeholder="Text" name="body" style="margin: 10px 0 30px; min-height: 200px;"> </textarea>
        <button class="text-muted bg-purple-darkblue-gradient rounded-pill border-0" type="submit" style="padding: 5px 20px;"> Publish! </button>
    </form>
</div>

		$fixed_footer
	</body>
</html>