<!DOCTYPE html>
<html>
	<head>
		<title> Home </title>
		$head
	</head>
	<body style="background: linear-gradient(to right, #020022 0%, #060019 100%); overflow-x: hidden;">
		$navbar

		<div class="jumbotron">
    		<h1 class="text-white" style="margin: 20px 20px 5px;"> Your post is live! </h1>
    		<hr class="bg-blue-darkpurple-gradient" style="margin: 0px 20px; border-radius: 3px;" size="5"/>
    		<p class="text-white" style="margin: 20px;"> Click<a class="bold" href="/"> here </a>to return to home </p>
		</div>

		$fixed_footer
	</body>
</html>